In [1]:
import pandas as pd
import os
import shutil
import yaml

In [2]:
db = os.environ.get('PSQL_DATABASE')
host = 'localhost'
user ='user'
port = '5432'
psql_engine = f'postgresql://{user}:@{host}:{port}/{db}'

In [27]:
with open("get_smiley_code_map.sql", "r") as f:
    slq_statement = f.read()

df = pd.read_sql(slq_statement, psql_engine)

code_map = {i['code'] : i['smiley_id'] for i in df.T.to_dict().values()}

with open('smiley_code_map.yaml', 'w') as f:
    f.write(yaml.dump(code_map))

In [30]:
with open("get_smiley_dict.sql", "r") as f:
    slq_statement = f.read()

df = pd.read_sql(slq_statement, psql_engine)

code_map = {i['smiley_code'] : {'smiley_url' : i['smiley_url'], 'emotion' : i['emotion']} for i in df.T.to_dict().values()}

with open('get_smiley_dict.yaml', 'w') as f:
    f.write(yaml.dump(code_map))